@import './_variables';

// Basic Styles
body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: $textColor;
	// font-size: 8px;
	background: #f4f4f4;
}

.no-overflow {
	overflow: hidden;
}

html {
	font-size: 13px;
}

button,
a {
	cursor: pointer;
}

div {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;

	li {
		padding: 0;
	}
}

input {
	border: none;
	display: block;
	border-bottom: 1px solid #8d8d8d;
	padding: 0.6rem;
	padding-left: 0;

	&:focus {
		border-bottom: 2px solid $primaryColor;
	}
}

.input-container {
	text-align: left;
	margin: 0 auto;
	width: auto;

	input {
		font-size: 1.1rem;
		width: 100%;
	}

	label {
		font-size: 0.9rem;
		color: #4b4b4b;
	}
}

.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-100%);
	text-align: center !important;
}

* {
	font-family: 'Roboto', sans-serif;
	color: $textColor;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: #b8b8b8;
	}
}

//Reusable Styles
.btn-primary {
	@include btn();

	border: none;
	background-color: $primaryColor;
	color: white;

	&:hover {
		background-color: #2592d1;
	}

	&:active {
		background-color: $primaryColor;
	}
}

.btn-primary-loading,
.btn-primary-loading:hover,
.btn-primary-loading:active {
	background: #ace1ff;
	cursor: default;
}

.btn-secondary {
	@include btn();

	background: none;
	border: 1px solid #222222;
	color: #222222;
}

.btn-category {
	@include btn();

	font-weight: 400;
	color: #4b4b4b;
	background: $lightGray;
}

.hidden {
	display: none !important;
}

.hide-mobile {
	display: none;
}

@media only screen and (min-width: $breakpointDesktop) {
	.hide-desktop {
		display: none;
	}

	.hide-mobile {
		display: block;
	}
}

@import './_navbar.scss';
@import './_homePage.scss';
@import './_adminPage.scss';
@import './_productPage.scss';
@import './_loginPage.scss';
@import './_checkoutPage.scss';
@import './_editProduct.scss';
